* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cfcfcf;
}

#testimonial-container {
    padding: 5% 3% 5% 3%;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#testimonial-1 {
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 5% top 0%;
    background-color: #7541c8;
    color: white;
    
}

#testimonial-2 {
    background-color: #48556a;
    color: white;
}

#testimonial-3, #testimonial-5 {
    background-color: #ffffff;
    color: #48556a;
}

#testimonial-4 {
    background-color: #19212e;
    color: white;
}

.grid-item {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
    font-size: 13px;
}

.grid-item h4 {
    padding: 3%;
    font-weight: 600;
    font-size: 1.2rem;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.user-image {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-info {
    margin-left: 3%;
}

.user-info>.name {
    font-size: 0.95rem;
}

.user-info>.verify {
    opacity: 50%;
    font-size: 0.95rem;
}

.user-quote {
    padding: 3%;
    /* font-size: 0.95rem; */
    line-height: 1.4;
    opacity: 0.7;
}

@media (min-width: 576px) {
    #testimonial-container {
        display: flex;
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #left {
        display: flex;
        flex-direction: column;
        flex-basis: 74%;
        justify-content: space-between;
    }

    #top, #bottom {
        display: flex;
        flex-direction: row;
        flex-basis: 49%;
        justify-content: space-between;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 64%;
    }

    #testimonial-2, #testimonial-3 {
        flex-basis: 34%;
    }

    #testimonial-5 {
        flex-basis: 24%;
    }
}